h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    font-size: 800;
}

h3 {
    color: purple;
    font-size: inherit;
}

.ready-meal {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

p, ul, ol {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-items li {
    background-color: plum;
    text-align: center;
}