


.title {
   display: block;
   padding: 8px;
   margin: 0 auto;
}

.menu-container {
 

.link-to-recipe {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: turquoise;
}